@model MvcOnlineTicariOtomasyon.Models.Siniflar.Fatura
@{
    ViewBag.Title = "FaturaEkle";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<script src="~/Scripts/jquery-3.7.0.js"></script>
<br />
<h2>Fatura Ekle</h2>
<br />
<form class="form-group" method="post">
    @Html.LabelFor(x => x.FaturaSeriNo)
    @Html.TextBoxFor(x => x.FaturaSeriNo, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.FaturaSiraNo)
    @Html.TextBoxFor(x => x.FaturaSiraNo, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.FaturaTarih)
    @Html.TextBoxFor(x => x.FaturaTarih, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Saat)
    @Html.TextBoxFor(x => x.Saat, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.VergiDairesi)
    @Html.TextBoxFor(x => x.VergiDairesi, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.PersonelID)
    @Html.DropDownListFor(x => x.PersonelID, (List<SelectListItem>)ViewBag.dgr3, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.CariID)
    @Html.TextBoxFor(x => x.CariID, new { @class = "form-control" })
    <br />
    <button class="btn btn-primary" id="Btn1">Kaydet</button>
</form>
<script>
    $('#Btn1').click(function () {
        alert("Fatura başarılı bir şekilde eklendi!");
    });
</script>

